<!-- Page Content -->
<div class="container main">
	<div style="height: 305px">
		<carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}" style="margin:auto; width: 100%; max-width: 100%;">
				<div class="carousel-caption">
					<h4>Slide {{$index}}</h4>
					<p>{{slide.text}}</p>
				</div>
			</slide>
		</carousel>
	</div>
	<!-- Jumbotron Header -->
	<header class="jumbotron hero-spacer text-center">
		<h2>A Warm Welcome!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
	</header>

	<hr>

	<!-- Page Features -->
	<div class="row text-center">

		<!--<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail clearfix">
				<div class="prod-img col-xs-12 text-center">
					<a href="javascript:void(0)" ng-click="viewProductList()">
						<img ng-src="img/all-products.jpg" alt="all products thumb">
					</a>
				</div>
				<div class="col-xs-12 caption">
					<h3 class="product-name" ng-click="viewProductList()">All products</h3>
					<div class="clearfix">
						<div class="btn-group text-center" role="group">
							<a href="javascript:void(0)" ng-click="viewProductList()" class="btn btn-default">
								View Products List
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<div class="col-md-3 col-sm-6 hero-feature" ng-repeat="productCatg in productCatgId | unique: 'p_catg_id'">
			<div class="thumbnail clearfix">
				<div class="prod-img col-xs-12 text-center">
					<a href="javascript:void(0)" ng-click="viewProductList(productCatg.p_id)">
						<img ng-src="img/products/{{productCatg.p_image}}" alt="product image">
					</a>
				</div>
				<div class="col-xs-12 caption">
					<h3 class="product-name" ng-click="viewProductList(productCatg.p_id)">{{productCatg.p_catg_id}}</h3>
					<!--<p>{{productCatg.p_description}}</p>-->
					<!--<div class="clearfix">
						<div class="btn-group text-center" role="group">
							<a href="javascript:void(0)" ng-click="viewProductList()" class="btn btn-default">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
							</a>
						</div>
					</div>-->
				</div>
			</div>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->