<!-- Page Content -->
<div class="container main">
    <div class="row">
        <section class="content content_content" style="margin: auto;">
            <section class="invoice">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <i class="fa fa-globe"></i> Invoice
                            <small class="pull-right">Date: {{date | date: 'yyyy-MM-dd'}}</small>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <strong>Sender Name: </strong> {{fullName}}
                            <br>Address: {{address}} <br> Phone: {{phoneNumber}} <br> Email: {{email}}
                        </address>
                    </div>
                    
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <strong>Receiver Name: </strong> {{receiverFullName}}
                            <br>Address: {{receiverAddress}} <br> Phone: {{receiverPhoneNumber}} <br> Email: {{receiverEmail}}
                        </address>
                    </div>
                    
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice #INV007612</b><br>
                        <b>Order ID:</b> 4F3S8J<br>
                        <b>Payment type:</b> {{paymentType}}<br>
                        <b>Coupon Applied:</b> {{appliedCoupon}}<br>
                    </div>
                    
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped productListTable">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name/Description</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="eachAddedProd in cart track by $index">
                                    <td><img ng-src="img/products/thumb/{{eachAddedProd.p_thumbimage}}" alt="{{eachAddedProd.p_name}}"></td>
                                    <td>
                                        <p><strong>{{eachAddedProd.p_name}}</strong></p>
                                        <p><small>{{eachAddedProd.p_description}}</small></p>
                                    </td>
                                    <td>{{eachAddedProd.p_quantity}}</td>
                                    <td>{{eachAddedProd.p_originalprice | currency:"₹":0}}</td>
                                    <td>{{eachAddedProd.p_price | currency:"₹":0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-md-12">
                        <p class="col-xs-12 col-sm-6 lead">Discounted Amount: {{dPrice | currency:"₹":0}}</p>
                        <p class="col-xs-12 col-sm-6 lead text-right">Payable Amount: {{priceSummary | currency:"₹":0}}</p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-xs-12">
                        <!--<button type="button" class="btn btn-success pull-right" ng-click="submit()">Proceed to Checkout</button>
                        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="goBackToCart()">Back to Cart</button>
                        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="goBackToProdList()">Continue Shopping</button>-->
                        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="printInvoice()">Print</button>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- /.container -->