<!-- Page Content -->
<div class="container main">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="col-xs-12 clearfix alert alert-danger" ng-hide="validmsg">
                {{ errorMsg }}
            </div>
            <div class="account-wall">
                <form action="" method="" name="signupform" novalidate>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="register">
                            <div class="form-signin">
                                <div class="form-group" ng-class="{ 'has-error' : signupform.username.$invalid && signupform.username.$dirty}">
                                    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="username" ng-pattern="/^[a-zA-Z]*$/"
                                        ng-required="true" />
                                    <span class="help-block" ng-show="signupform.username.$invalid && signupform.username.$dirty">Your Username is required.</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : signupform.useremail.$invalid && signupform.useremail.$dirty}">
                                    <input type="email" name="useremail" ng-model="useremail" class="form-control" placeholder="Emaill Address ..." ng-required="true"
                                        ng-pattern="/^(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/"
                                    />
                                    <span class="help-block" ng-show="signupform.useremail.$invalid && signupform.useremail.$dirty">You Email is required.</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : signupform.password.$invalid && signupform.password.$dirty}">
                                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" ng-minlength="4" ng-maxlength="8"
                                        ng-required="true" ng-pattern="/^^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_]))/"
                                    />
                                    <span class="help-block" ng-show="signupform.password.$invalid && signupform.password.$dirty">Your Password is required.</span>
                                    <span ng-show="signupform.password.$error.maxlength" class="help-block">Password is too long.</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : signupform.confpassword.$invalid && signupform.confpassword.$dirty}">
                                    <input type="password" class="form-control" placeholder="Confirm Password" name="confpassword" ng-model="confpassword" ng-minlength="4"
                                        ng-maxlength="8" ng-required="true" ng-pattern="/^^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_]))/"
                                        compare-to="signupform.password" />
                                    <span class="help-block" ng-show="signupform.confpassword.$invalid 
                                    && signupform.confpassword.$dirty">Your Password is required.</span>
                                    <span ng-show="signupform.confpassword.$error.maxlength" class="help-block">Password is too long.</span>
                                </div>
                                <button ng-click="signupform.$valid && signup()" type="submit" class="btn btn-lg btn-default btn-block" value="Sign Up" ng-disabled="signupform.$invalid">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->