<!-- Page Content -->
<div class="container main">
    <div class="alert alert-info" ng-show="wishToCart">{{duplicateData}}</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info" ng-init="total = 0">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-sm-10">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary btn-block" ng-click="goBackToProdList()">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="eachAddedProd in cart track by $index">
                        <div class="col-sm-2">
                            <img ng-src="assets/img/products/{{eachAddedProd.p_image}}" class="img-responsive" alt="{{eachAddedProd.p_name}}">
                        </div>
                        <div class="col-sm-5">
                            <h4 class="product-name"><strong>{{eachAddedProd.p_name}}</strong></h4>
                            <h4><small>{{eachAddedProd.p_description}}</small></h4>
                        </div>
                        <div class="col-sm-5">
                            <div class="col-xs-5 text-right">
                                <div class="col-xs-6 text-right">
                                    <h6><strong>{{eachAddedProd.p_originalprice | currency:"₹":0}}</strong></h6>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <!--<input type="text" class="text-center form-control input-sm" value="{{servQuantity.prodQuantity}}">-->
                                    <input type="text" class="text-center form-control input-sm" ng-model="eachAddedProd.p_quantity" ng-change="updateJson1($index)">
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h6>
                                    <strong>
                                        {{eachAddedProd.p_price | currency:"₹":0}}
                                    </strong>
                                </h6>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button type="button" class="btn btn-default btn-sm pull-left" ng-click="moveToWishlist($index)" title="move to wishlist">
									<span class="glyphicon glyphicon-heart"> </span>
								</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="removeProduct($index)"  title="remove product">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
                            </div>
                        </div>
                        <div class="col-xs-12"><hr></div>
                    </div>
                    <!--<div class="row">
                        <div class="text-center">
                            <div class="col-sm-10">
                                <h6 class="text-right">Have you updated your cart?</h6>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default btn-block" ng-click="change()">
                                    Update Cart
                                </button>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="row" ng-hide="couponRow">
                        <div class="text-center">
                            <div class="col-sm-9">
                                <h6 class="text-right">Do you have a coupon code? if not go <a href="https://www.google.co.in/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=coupon+code" target="_blank">here</a></h6>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-6">
                                    <input class="form-control coupon-entry" type="text" name="" value="" maxlength="9" ng-model="coupon">
                                </div>
                                <div class="col-sm-6">
                                    <div class="row"><button type="button" class="btn btn-default btn-block" ng-click="couponCode()">Apply Code</button></div>
                                </div>                                
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-sm-10">
                            <h4 class="text-right">Total <strong>{{grandTotal | currency:"₹":0}}</strong>
                            <!--<strong ng-hide="discountedPrice">{{discountPrice | currency}}</strong>-->
                            </h4>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success btn-block" ng-click="gotoProdSumm()" ng-disabled="expression">
                                Proceed to Summary
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->