<!-- Page Content -->
<div class="container main">
    <div class="row">
        <section class="content content_content" style="margin: auto;">
            <section class="invoice">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <i class="fa fa-globe"></i> Username/Email/Full name
                            <small class="pull-right">Date: {{date | date: 'yyyy-MM-dd'}}</small>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped productListTable">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name/Description</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="eachAddedProd in cart track by $index">
                                    <td><img ng-src="assets/img/products/thumb/{{eachAddedProd.p_thumbimage}}" alt="{{eachAddedProd.p_name}}"></td>
                                    <td>
                                        <p><strong>{{eachAddedProd.p_name}}</strong></p>
                                        <p><small>{{eachAddedProd.p_description}}</small></p>
                                    </td>
                                    <td>{{eachAddedProd.p_quantity}}</td>
                                    <td>{{eachAddedProd.p_originalprice | currency:"₹":0}}</td>
                                    <td>{{eachAddedProd.p_price | currency:"₹":0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Total:</th>
                                        <td><strong>{{priceSummary | currency:"₹":0}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success pull-right" ng-click="proceedToCheckout()">Proceed to Checkout</button>
                        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="goBackToCart()">Back to Cart</button>
                        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="goBackToProdList()">Continue Shopping</button>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- /.container -->